[**amdWiki API v1.5.0**](../../../../../README.md)

***

[amdWiki API](../../../../../README.md) / [src/parsers/dom/DOMParser](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/parsers/dom/DOMParser.ts:107](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/parsers/dom/DOMParser.ts#L107)

Validation result

## Properties

### errors

> **errors**: [`ErrorInfo`](ErrorInfo.md)[]

Defined in: [src/parsers/dom/DOMParser.ts:111](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/parsers/dom/DOMParser.ts#L111)

Parse errors

***

### valid

> **valid**: `boolean`

Defined in: [src/parsers/dom/DOMParser.ts:109](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/parsers/dom/DOMParser.ts#L109)

Whether the content is valid

***

### warnings

> **warnings**: [`WarningInfo`](WarningInfo.md)[]

Defined in: [src/parsers/dom/DOMParser.ts:113](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/parsers/dom/DOMParser.ts#L113)

Parse warnings
