
            <!-- Dynamic Footer from Footer.md -->
            <% if (typeof footerContent !== 'undefined' && footerContent) { %>
                <div class="footer-content mt-4 pt-3 border-top">
                    <%- footerContent %>
                </div>
            <% } %>
            
            </main>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
