[**amdWiki API v1.5.0**](../../../../README.md)

***

[amdWiki API](../../../../README.md) / [src/utils/final-validation](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/utils/final-validation.ts:21](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/utils/final-validation.ts#L21)

Validation result for a single page

## Properties

### error?

> `optional` **error**: `string`

Defined in: [src/utils/final-validation.ts:23](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/utils/final-validation.ts#L23)

***

### metadata?

> `optional` **metadata**: [`PageMetadata`](PageMetadata.md)

Defined in: [src/utils/final-validation.ts:24](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/utils/final-validation.ts#L24)

***

### valid

> **valid**: `boolean`

Defined in: [src/utils/final-validation.ts:22](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/utils/final-validation.ts#L22)
