[**amdWiki API v1.5.0**](../../../../README.md)

***

[amdWiki API](../../../../README.md) / [src/utils/final-validation](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/utils/final-validation.ts:20](https://github.com/jwilleke/amdWiki/blob/a3539936e35c848c1c2953d38bbab41386a1cf67/src/utils/final-validation.ts#L20)

Validation result for a single page

## Properties

### error?

> `optional` **error**: `string`

Defined in: [src/utils/final-validation.ts:22](https://github.com/jwilleke/amdWiki/blob/a3539936e35c848c1c2953d38bbab41386a1cf67/src/utils/final-validation.ts#L22)

***

### metadata?

> `optional` **metadata**: [`PageMetadata`](PageMetadata.md)

Defined in: [src/utils/final-validation.ts:23](https://github.com/jwilleke/amdWiki/blob/a3539936e35c848c1c2953d38bbab41386a1cf67/src/utils/final-validation.ts#L23)

***

### valid

> **valid**: `boolean`

Defined in: [src/utils/final-validation.ts:21](https://github.com/jwilleke/amdWiki/blob/a3539936e35c848c1c2953d38bbab41386a1cf67/src/utils/final-validation.ts#L21)
