[**amdWiki API v1.5.0**](../../../../README.md)

***

[amdWiki API](../../../../README.md) / [src/managers/ValidationManager](../README.md) / ValidationResult

# Interface: ValidationResult

Defined in: [src/managers/ValidationManager.ts:17](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/managers/ValidationManager.ts#L17)

Validation result interface

## Extended by

- [`MetadataValidationResult`](MetadataValidationResult.md)

## Properties

### error

> **error**: `string`

Defined in: [src/managers/ValidationManager.ts:19](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/managers/ValidationManager.ts#L19)

***

### success

> **success**: `boolean`

Defined in: [src/managers/ValidationManager.ts:18](https://github.com/jwilleke/amdWiki/blob/bcc115366e1180cb98de40309a75866518be330a/src/managers/ValidationManager.ts#L18)
